:host{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
}


h2{
    font-size: 1rem;
    font-weight: normal;

}

img{
    height: 100px;
    margin-right: 0.75rem;
}

.price{
    font-size: 1.2rem;
}