:host{
    box-sizing: border-box;
    width: 900px;
    margin: 0 auto;
}

h2{
    margin: 1rem;
}

span.total{
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-align: end;
    font-size: 1.5rem;
    padding-right: 2rem;
    margin-top: 1rem;
}